.navigation {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 28px;
  color: $color-4;

  &:before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: $color-7;
    top: -150px;
    left: -160px;
    z-index: -1;
    animation: navAnim 5s infinite alternate;

    //Animation green circle nav
    @keyframes navAnim {
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    @media screen and (max-width: 430px) {
      height: 50px;
      width: 50px;
    }
  }
  .nav-active {
    color: $black;
  }
  ul:hover li:not(:hover) {
    opacity: 0.5;
  }
  ul:hover li:hover {
    color: $color-1;
  }

  .nav-portfolio {
    cursor: pointer;
    display: flex;
    transition: 0.5s;
    color: $color-1;

    &:hover .nav-projects,
    .nav-projects:hover {
      visibility: visible;
      opacity: 1;

      li {
        transform: rotatey(0deg);
      }
    }

    .nav-projects {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      padding: 0 40px;
      width: 300px;
      transform: translateX(70px);
      transition: 0.5s;
      perspective: 500px;

      li {
        transform: rotatey(30deg) scaleX(0.2);
        transform-origin: center;
        transition: 0.3s;
        color: $color-1;
      }
    }
  }
}
